body{
    margin: 0;
    padding: 0;
}
body>div{
    display: flex;
}
#mainPhoto{
    width: 80vw;
    height: 50vw;
}
#homeMenu{
    background-color: black;
    width:20vw;
    height: 50vw;
    text-align: center;
    justify-content: center;
}
#homeName{
    color: white;
    margin-top: 2vw;
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    height: 4vw;
}
#blackLine{
    margin-left: 1vw;
    margin-right: 1vw;
    height: 1vw;
    border-bottom: 2px solid black;
}
.mainMenu{
    height: 35vw;
}
button{
    color:white;
    margin-top: 1vw;
    width: 20vw;
    font-weight: 900;
    font-size: 1.5vw;
    border: none;
    background-color: black;
}
button:active{
    background-color: black;
    box-shadow: 2px 2px 2px 2px;
}